.filter-list-item {
  margin-bottom: 10px;
}

.filter-list-item-sort {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filterBtns {
  display: block;
}

.filter-string-input {
  background-color: #fff;
  width: auto;
}
