<mat-toolbar class="header">
  <mat-toolbar-row class="container" style="justify-content: space-between; gap: 20px">
    <div style="flex: 1"></div>
    <div class="header-center">
      <app-logo></app-logo>
      <app-searchbar (formSubmit)="showSearchResults.emit()" style="flex-grow: 1"></app-searchbar>
      <app-settings (click)="showFilter = !showFilter"></app-settings>
    </div>
    <app-login style="flex: 1"></app-login>
  </mat-toolbar-row>
  <mat-toolbar-row *ngIf="showFilter" class="container" style="justify-content: center">
    <app-filter></app-filter>
  </mat-toolbar-row>
</mat-toolbar>
