.header {
  padding: 20px 0;
}

.header-profile, .header-login, .header-logout {
  flex: 1;
}

.header-logout, .header-login {
  text-align: right;
}

.header-center{
  display: flex;
  align-items: center;
  flex: 2;
  gap: 20px
}

.header-searchbar {
  flex-grow: 1;
}

.header-row {
  height: auto;
}

.header-row-search {
  justify-content: space-between;
  gap: 20px;
}

.header-row-filter {
  justify-content: center;
}
