<div>
  <ul>
    <li>
      <span>Searching by: </span>
      <mat-button-toggle-group (change)="onFilterChange($event.value)" name="filter" aria-label="Search filter">
        <mat-button-toggle value="date">date</mat-button-toggle>
        <mat-button-toggle value="count_of_views">count of views</mat-button-toggle>
        <mat-button-toggle value="by_word_or_sentence">by word or sentence</mat-button-toggle>
      </mat-button-toggle-group>
    </li>
    <li style="text-align: right">
      <mat-button-toggle-group *ngIf="selectedFilter" value="ascending" (change)="onFilterOrderChange($event.value)" name="filterOrder" aria-label="Search filter order">
        <mat-button-toggle value="ascending">ascending</mat-button-toggle>
        <mat-button-toggle value="descending">descending</mat-button-toggle>
      </mat-button-toggle-group>
    </li>
  </ul>
</div>
