<mat-card class="search-item">
  <div class="search-item-thumbnail">
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
  </div>
  <mat-card-content>
    <ul class="counts-list">
      <li class="counts-list-item">
        <mat-icon aria-hidden="false" aria-label="Views count">remove_red_eye</mat-icon>
        1000
      </li>
      <li class="counts-list-item">
        <mat-icon aria-hidden="false" aria-label="Views count">thumb_up</mat-icon>
        123
      </li>
      <li class="counts-list-item">
        <mat-icon aria-hidden="false" aria-label="Views count">thumb_down</mat-icon>
        32
      </li>
      <li class="counts-list-item">
        <mat-icon aria-hidden="false" aria-label="Views count">insert_comment</mat-icon>
        1000
      </li>
    </ul>
    <mat-card-title class="search-item-title">Kuji podcast 1</mat-card-title>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button color="accent">More</button>
  </mat-card-actions>
</mat-card>
