<ng-template [ngIf]="video">
  <mat-card [appDateHighlight]="video.snippet.publishedAt" class="search-item">
    <div class="search-item-thumbnail">
      <img mat-card-image [src]="video.snippet.thumbnails.medium.url" alt="Photo of a Shiba Inu">
    </div>
    <mat-card-content>
     <app-video-stats [stats]="video.statistics"></app-video-stats>
      <mat-card-title class="search-item-title">{{ video.snippet.title }}</mat-card-title>
    </mat-card-content>
    <mat-card-actions>
      <button routerLink="detailed/{{video.id}}" mat-raised-button color="accent">More</button>
    </mat-card-actions>
  </mat-card>
</ng-template>
